[submodule "Bandolier/vendor/spdlog"]
	path = Bandolier/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Bandolier/vendor/datastructures"]
	path = Bandolier/vendor/datastructures
	url = https://github.com/jing361/datastructures
[submodule "Bandolier/vendor/glfw"]
	path = Bandolier/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Bandolier/vendor/imgui"]
	path = Bandolier/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Bandolier/vendor/glm"]
	path = Bandolier/vendor/glm
	url = https://github.com/g-truc/glm
